<section class="section-accueil">

    {{> menuLeft}}

    <div class="tweet-container">
        <div class="tweet-container-title">
            <h3>Home</h3>
        </div>
        <form action="/home/:username" method="post" class="tweet-container-form">
            <div class="tweet-container-message">
                <label for="message"></label>
                <div class="tweet-container-text">
                    <img src="{{picture}}" alt="">
                     <textarea name="message" id="message" placeholder="Whats's happening ?"></textarea>
                </div>
               
            </div>
            <div class="tweet-container-button">
                <button type="submit" class="tweet-button">Tweet</button>
            </div>
            
        </form>

    {{> tweet}}

    </div>

    {{> suggestionRight}}

</section>