
<div class="home">
    <img class="home-image"src="/public/images/logoTwitter.png" alt="logoTwitter">
    <h1 class="home-title">Connect on Twitter</h1>
    {{#if error }}
    <h3 class="home-error">{{error}}</h3>
    {{/if }}
</div>

<form action="/" method="POST" class="form">
    <div class="form-input">
        <label for="username">Username, Phone, Email</label>
        <input type="text" name="username" id="username">
    </div>

    <div class="form-input">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
    </div>
    
    <button type="submit">Submit</button>
    
    
    <div class="form-link">
        <a href="http://localhost:8080/home">Forgot Password ?</a>
        <a href="http://localhost:8080/signup">Register on Twitter</a>
    </div>
</form>