
<div class="home">
    <img class="home-image"src="/public/images/logoTwitter.png" alt="logoTwitter">
    <h1 class="home-title">Create your account</h1>
</div>


<form class="form" action="/signup" method="post">
    <div class="form-input">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" id="first_name" required>
    </div>
    <div class="form-input">
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" id="last_name" required>
    </div>

    <div class="form-input">
        <label for="">Birthday date</label>
        <input type="date" name="birthday" id="birthday" required>
    </div>

    <div class="form-input">
        <label for="city">City</label>
        <input type="text" name="city" id="city">
    </div>

    <div class="form-input">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
    </div>

    <div class="form-input">
        <label for="telephone">Phone</label>
        <input type="tel" name="telephone" id="telephone" pattern="[0-9]{10}" maxlength="10" minlength="10">
    </div>

    <div class="form-input">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
    </div>

    <div class="form-input">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
    </div>
    
    <div class="form-input">
        <label for="picture">Picture</label>
        <input type="url" name="picture" id="picture" required>
    </div>

    <button type="submit">Submit</button>
</form>    